<html>
  <head>
    <title>Art Gallery</title>
    <!-- Add your CSS, JavaScript links here -->
  </head>
  <body>
    {{{body}}}
    <!-- The {{{body}}} will be replaced with the actual view content -->
  </body>
</html>